#content{
  padding: 20px;
}
.nav{
  background-color: #92c7d1;
  padding: 10px;
}
.nav-link{
  margin-left: 10px;
}
#front_nav_title{
  font-family: 'Gloria Hallelujah', cursive;
}
.add_paragraph{
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 150%;
  margin-bottom: 20px;
}
.container_all{
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 500px !important;
  padding: 30px;
}
.random_expression_card{
  padding: 30px;
  background-color: rgb(243, 243, 243) !important;
  margin: 50px;
}

#add_button{
  position: relative;
  float: right;
  width: 120px;
}
.footer{
  height: 150px;
  background-color: rgb(243, 243, 243) !important;
  padding-top: 5px;
  padding-bottom: 5px;
  line-height: 30px;
  margin-top: 50px;
}
footer{
  padding-top: 50px;  
}


